<script>
    import { onMount } from "svelte";
    export let e = 3;
    let that;
    onMount(function () {
        that.parentNode.classList.remove("flex");
    })
    function scroll(event) {
        event.deltaY < 0 ? e++ : e--;
    }
    let settings = {
        cups: 5,
        maxSimultaneousCups: 2,
        balls: 1,
        difficulty: 0.3
    }
    $: settings, stop();
    let running = false;
    let stepsLeft = 0;

    let gameInterval;

    function start(params) {
        running = true;
        gameInterval = setInterval(() => {

        }, interval);
    }

    function stop(params) {
        running = false;
        clearInterval(gameInterval);
    }
</script>

<style>
    p {
        color: palegoldenrod;
        border: solid 2px blueviolet;
        display: inline-block;
        padding: 1rem;
    }
</style>
<template bind:this="{that}"></template>

<p on:wheel="{scroll}">{e}</p>
<button>OOOO</button>